.morquee-content{
				position:relative;width:100%;margin:0 auto; color:#000;
}
small {
		font-size: 14px;
	}
.marquee, .marquee-with-options {
					clear: both;
					width: 100%;
					overflow: hidden;
					color: #323232;
					font-size: 14px;
					/*border: 1px solid #cccccc;*/
		}

div.marquee-with-options span{	border-right:1px solid #fff;
								padding-left:10px;
								padding-top:-3px;
								background-position:0px 4px;
								cursor:pointer;
							}

	div.marquee-with-options span.symbol{
									z-index:9999999;
									background-position: 0.4em;
									padding-left: 15px;
								}
div.marquee-with-options span.bid{
									z-index:9999999;
									background-position: 0.4em;
									padding-left: 15px;
									}
div.marquee-with-options span.ask{
									z-index:9999999;
									background-position: 0.4em;
									padding-left: 15px;
									}
