
.app .pg_width .overlay_bg{
	margin-left: 12px;
}
.app .h_1{
	font-size: 24px;
	/*font-family: "economica_bold", sans-serif;*/
	font-family: "Roboto", sans-serif !important;
	color: #f07a1c;
	margin-top: 10px;
	margin-left: 5px;
}
.app .h_1.none{
	margin-top: 0;
	border-bottom: 0 none;
}
.app .content_wrap{
	width: 698px;
	margin-right: 24px;
}
.app .pg_data{
	font-family: "Roboto", sans-serif !important;
	margin-left: 4px;
	margin-top: 5px;
	background: #fff;
	border-top: 5px solid #FF554E;
	/*background: url("images/shade_new.png") center bottom no-repeat #fff;*/
}
.app .pg_data.none{
	background: 0 none;
	margin-right: 4px;
}
.app .pg_data .d_fds{
	margin-bottom: 0;
}
.app .pg_width .pg_data_view{
	overflow: hidden;
	padding: 18px 20px;
	margin-bottom: 20px;
	border-top: 1px solid #ADADAD;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #dbdbdb;
	border-bottom: 5px solid #FF554E;
/*	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;	*/
}
.app .pg_data p{
	line-height: 25px;
	margin-bottom: 10px;
}
.app .pg_data p img{
	border: none;
	box-shadow: none !important;
	border-radius:6px;
}

.app .pg_data_view h2{
	font-size:24px;
	font-weight: bold;
	color: #444 !important;
}

.app .side_left_nav{
	background: #FFF2DF;
	padding: 8px;
	width: 200px;
	border: 1px solid #dbdbdb;
  /*margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 42px;*/
    margin: 42px 0 10px 0px !important
    border-top: 5px solid #FF554E;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.app .side_left_nav p:hover a{
	text-decoration: none;
	color:#FF554E;
	margin-left: 4px;
}
.app .side_left_nav p a{
	color: #444;
	display: block;
	/*padding: 6px;*/
	padding-left: 18px;
	background: url("images/arrow_green.png") no-repeat left center;
	font-weight: bold;
	font-size:14px;
	font-family:'Roboto' !important;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 1px solid transparent;
}

.app .side_left_nav p:hover a.selected{
	/*background: url("images/arrow_green.png") no-repeat left center;*/
/*	background-color: #c9c9c9;*/
	-webkit-transition: 0 none;
	margin-left: 0;	
}
.app .side_left_nav p a.selected{
	/*background: url("images/arrow_green.png") no-repeat left center;*/
/*	background-color: #c9c9c9;*/
	-webkit-transition: 0 none;
	color: #FF554E;
	margin-left: 0;	
}
.app .side_right_nav{
	width: 440px;
}
.app .side_right_nav li{
	padding: 10px 0;
}
.app .side_right_nav table,
.app .side_right_nav th,
.app .side_right_nav td{
	padding: 10px 12px;
}
.app .side_right_nav ul{
	margin-bottom: 20px;
}
.app .side_right_nav h2{
	margin-bottom: 5px;
}
.app .side_right_nav a{
	color: #3939bb;
}
.app .side_right_nav .story{
	width: 625px;
}

.app .submenu{
	visibility: hidden;
	position: absolute;
	opacity: 0;
	margin-top: -10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.app .main_menu li:hover .submenu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
	background: #0452A0;
	z-index: 10;
	box-shadow: 0 8px 10px #043e79 inset;
}

.app .submenu li:hover,
.app .nav li .submenu li.active{
	background: #02417F;
}
.app .nav li .submenu li a{
	display: block;
}
.app .nav li .submenu li a.active{
	backgound: 0 none;
	border: 0 none;
}

/*styles for bread crum*/
.app .bread_crum{
	color: #5C5C5C;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;	
	font-size: 11px;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #dbdbdb;
}
#breadcrumbs-one{
  background: #FCBE63;
  overflow: hidden;
}

#breadcrumbs-one li{
  float: left;
}

#breadcrumbs-one a{
  padding: .8em 1em .8em 2em;
  float: left;
  text-decoration: none;
  font-weight: bold;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #FF554E;
}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 2px 0 0 2px;
  padding:6px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.29);
}

#breadcrumbs-one a:hover{
  background: #FF554E;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #FF554E;  
}

#breadcrumbs-one a::before{
  border-left-color: #FF554E;  
  right: -1.0em;
  z-index: 1; 
}

#breadcrumbs-one a:hover::after{
  border-left-color: #FF554E;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  font-weight: bold;
  background: #fff;
  padding: 6px 6px 6px 18px;

}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
 border-left-color: #fff;
 right: -1.0em;
 z-index: 1; 
}
#breadcrumbs-one .current:hover::after,
#breadcrumbs-one .current:hover::before{
 border-left-color: #fff;
 right: -1.0em;
 z-index: 1; 
}

.app .left_fld{
	width: 120px;
	text-align: right;
	margin-right: 4px;
}
.app .left_fld,
.app .right_fld{
	float: left;
	font-family: "Roboto", sans-serif !important;
}
.app .left_fld .validcol{
	color: #a6220b;
}
.app .d_fds{
	overflow: hidden;
	margin-bottom: 18px;
}	
.app input[type='text'].ip,.app input[type='password'].ip,
textarea{
	width: 225px;
}
.app input[type='text'].ip,.app input[type='password'].ip,.app select.sl_bx,.app textarea.t_ar,.app .chzn-container:focus{ 
	color:#000000; 
	outline:0 none;
	border:1px solid #c9cdd0;
	padding:4px;
	-moz-box-shadow:0 1px 0 #e7e9eb inset;
	-webkit-box-shadow:0 1px 0 #e7e9eb inset;
	box-shadow:0 1px 0 #e7e9eb inset;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px
}
.app input[type='text'],.app input[type='password']{
	height: 25px;
}
.app .bootstrap-scope input[type='text'],.app .bootstrap-scope input[type='password']{
	height: 30px;
}
.app input[type='text']:hover,.app input[type='password']:hover,.app select:hover,.app textarea:hover{
	border:1px solid #999;
	outline:0 none;
}
.app textarea:focus,.app input[type='text']:focus,.app input[type='password']:focus,.app select:focus,
.app input[type='text']:hover:focus,.app input[type='password']:hover:focus,
.app select:hover:focus,.app textarea:hover:focus,.app .chzn-container-active{
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	border:1px solid #56b4ef;
}
.app .alt_btn{
	background: url("images/btn_sprite.png") repeat-x 0 0;
	color: #f5f9ee;
	font-size: 13px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #497d06;
	height: 30px;
	padding: 0 18px;
}

.app .pgtop{
	background: #fafafa;
	width: 400px;
	margin: 0 auto;
	border: 1px solid rgba(0,0,0,0.18);
	box-shadow: 0 1px 6px #bbb;
}
.app .login_page{
	padding-top: 60px;
}
.app .error{
	color: #ff0000;
}
.app .submit{
	background: url("images/submit.png") repeat-x;
	border: 1px solid #497d06;
	color: #fff;
	height: 30px;
	font-size: 16px;
	text-shadow: 0 1px 0 #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*Start@@New changes*/
.app .form_modify .bootstrap-scope .form-horizontal .control-label{ cursor: default; font-size: 13px}
.app .form_modify .bootstrap-scope .form-horizontal .control-label b{ font-weight: normal;color: #525252;}
.app .form_modify .bootstrap-scope .form-horizontal .control-group h5 { 
	border-bottom: 1px solid #9EA3B9;
	padding-bottom: 10px;
	margin:0;
	color: #080068;
}
.app .form_modify .bootstrap-scope .form-horizontal .controls .control-label{ text-align: left;width: 440px;color: #000;}
.app .form_modify .bootstrap-scope .form-horizontal .control-group{ margin-bottom: 2px}
.app .form_modify .usd_button{ margin: 20px 0 0 80px;}
.app .form_modify .usd_button a{ font-size: 12px; }

.box_c {margin-bottom:16px}
.box_c_heading {height:28px;color: #fff; border:1px solid #252424;font-size:12px;padding:4px 5px 0;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-radius: 4px 4px 0px 0px;border-radius: 4px 4px 0px 0px; }
.box_c_heading {background: #242424;background: -moz-linear-gradient(top, #5E5E5E 0%, #242424 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5E5E5E), color-stop(100%,#242424));background: -webkit-linear-gradient(top, #5E5E5E 0%,#242424 100%);background: -o-linear-gradient(top, #5E5E5E 0%,#242424 100%)}
.box_c_heading img {margin:9px 4px 0 0;cursor:pointer}
.box_c_content {padding:10px;border-width:1px;border-style:solid;border-color:#fff #ccc #ccc;-moz-border-radius-topleft: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 4px;-moz-border-radius-bottomleft: 4px;-webkit-border-radius: 0px 0px 4px 4px;border-radius: 0px 0px 4px 4px}
.box_c_heading.box_c_heading_update{
	position: relative; 
	border: 0; 
	height: 33px;
	padding: 8px 0 0 30px;
	text-transform: capitalize;
	font-size: 14px;

}
.box_c_heading_left{ 
	position: absolute; 
	background: url(../../misc/css/images/hdr_green.png) repeat-x; 
	width: 24px;
	left: 0;
	top: 0;
	bottom: 0;
	height: 33px;
	border-radius: 4px 0 0 0 
}

.app .form_modify .new_mng_offer .first{ width: 150px; margin-left: 10px}
.app .form_modify .new_mng_offer .last{ width: 450px; margin-left: 20px}
.app .form_modify .bootstrap-scope .new_mng_offer .form-horizontal .control-label{ text-align: left; width:140px; padding-top: 0}
.app .form_modify .bootstrap-scope .new_mng_offer .form-horizontal .controls{ margin-left: 160px}
.app .form_modify .bootstrap-scope .new_mng_offer .form-horizontal .controls .control-label{ width: 300px}
.app .form_modify .bootstrap-scope .new_mng_offer .dyn_but{ margin-top: 10px; }
.app .form_modify .bootstrap-scope .new_mng_offer .dyn_but a{  text-align: center; font-size: 14px}
.app .form_modify .bootstrap-scope .new_mng_offer .dyn_but a span{ font-weight: bold; display: block;}
.app .form_modify .adv_catg{ margin-top: 10px}
.app .form_modify .adv_catg .box_c_content{ padding:0;}
.app .form_modify .adv_catg .box{ overflow: hidden; padding: 6px 4px}
.app .form_modify .adv_catg .box:nth-child(even){ background: #F1F1F1}
.app .form_modify .adv_catg .box .lft_fld,
.app .form_modify .adv_catg .box .rgt_fld{float: left;}
.app .form_modify .adv_catg .box .lft_fld{ width: 160px; padding-left: 26px}
.app .form_modify .adv_catg .box .rgt_fld{ width: 400px; color: #000}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.app .form_modify table.table_box{ border-left: 1px solid #C0C0C0}
.app .form_modify table.table_box td, .app .form_modify table.table_box th{ 
	padding:4px 2px;
	border-color: #C0C0C0;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
.app .form_modify table.table_box th{ background: url(../../misc/css/images/grd_hdr.png) repeat-x #5e5e5e; color: #fff}
.app .form_modify table.table_box th b{ font-weight: normal;}
/*End@@New changes*/