@charset "utf-8";
/* CSS Document */
.app{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:13px;
}
.app .fl{ float:left !important;float:left}
.app .fr{ float:right !important;float:right}
.app .oc{ overflow:hidden}
.app .cb{clear:both}
.app .d_fds{ padding:5px 0; font-size:13px}
.app .left_fld{ width:280px;margin-right:10px; float:left}
.app .left_fld label{ 
	margin-top: 23px;
/*	padding: 18px 0px;
*/	display: block;
	color: #2A2929;
	font-size: 16px;
	font-family: "Roboto", sans-serif !important;
	margin-right: 10px;
}
.app .d_fds .left_fld label{	margin-top: 0px !important;}
.app .forgt .left_fld.lft_fldsmall {  width: auto !important;
  margin-left: 25px;}
.app .d_fds.vm .left_fld label{ margin-top:0;}
.app .right_fld{ margin-left:290px; color:#000; }
.app .uploadifyQueueItem{ margin-top: 3px;}
.app .jerror_msg{ color: #0BA555;}
.app .left_fld.lft_fldsmall{width:120px}
.app .bck_login{ background: url(../../images/sprite.png) no-repeat 0 -1294px; padding-left: 13px; margin-left: 2px;}
.app .right_fld.rgt_fldsmall{margin-left:130px}
.app .rgt_fldsmall_btn{ margin-left: 246px;}
.app a.anc_col{color: #0E4E7A !important;}
.app a:hover.anc_col{color: #09F  !important; text-decoration:underline !important;}
.app a:active.anc_col{ color:#999 !important;}
.app .d_fds.vs,.app .f_n{ font-weight:normal}
#myfileUploader,#myfile2Uploader,#myfile1Uploader{ vertical-align: top; }

.app .error_msg{
	color: #FF554E;
	background: url("images/error_ico.png") no-repeat scroll 123px center transparent;
	padding-left: 46px;
	text-align: center;
	font-size: 16px;
}
.app .success_msg{
	color: #307A06;
	background: url("images/success_ico.png") no-repeat scroll left center transparent;
	padding-left: 18px;
}
.app .h_1{ 
 	border-bottom: 1px solid #DEDEDE;
    color: #121212;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 0;
}
.app .h_2{
	font-size:16px;
	color:#565656;
	font-weight:bold;
	padding:10px 0
}
.app .h_2.adj,.app .d_fds.adj{ padding:10px 0 }
.app .validcol{ color: #F45A51;}
#user_account_details{ 
	background: #E5E6EC; 
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #ffffff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	color: #505050;
	margin-bottom: 18px;
}
.app .lbl{color:#565656}
.app .r_to{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px
}
.app input[type='text'].ip,.app input[type='password'].ip,.app select.sl_bx,.app textarea.t_ar,.app .chzn-container:focus{ 
	color:#000000; 
	outline:0 none;
	border:1px solid #c9cdd0;
	padding:4px;
	-moz-box-shadow:0 1px 0 #e7e9eb inset;
	-webkit-box-shadow:0 1px 0 #e7e9eb inset;
	box-shadow:0 1px 0 #e7e9eb inset;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px
}
.app input.ip{height:16px;width:300px}
.app select.sl_bx{ width:310px}
.app .t_ar{
	resize: vertical;
	height:66px;
	overflow:auto;
	width:300px
}
.app input[type='text']:hover,.app input[type='password']:hover,.app select:hover,.app textarea:hover{
	border:1px solid #999;
	outline:0 none;
}
.app textarea:focus,.app input[type='text']:focus,.app input[type='password']:focus,.app select:focus,
.app input[type='text']:hover:focus,.app input[type='password']:hover:focus,
.app select:hover:focus,.app textarea:hover:focus,.app .chzn-container-active{
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	border:1px solid #56b4ef;
}

.app .jqgrid_wrap .ui-jqgrid-pager input[type='text']{ border:1px solid #999}

/*Start@@code for the custom grids*/
.app .customtable{ background: #fff;}
.app .customtable .trhead{background:url(../images/grdhed.png) repeat-x; color:#fff}
.app .customtable .trhead .style1{ color:#000;text-decoration:none; font-weight: bold;}
.app .customtable td{  padding: 10px 12px; border:1px solid #C9CDD0;padding: 6px 12px 2px;}

/*End@@code for the custom grids*/

/*.app .login.post{
	width: 340px;
	margin: 0 auto;
} 
*/.app .login.post input.ip{
  width: 260px;
  height: 46px;
  background-color: #FFF;
  border-radius: 4px;
  font-size: 16px;
}
.app .normal_a {
 color: #2A2929 !important;
 text-decoration: underline;
}
.addecur{
	background: url("../../images/sprite.png") repeat-x 0 -1120px;
	border: 1px solid #848484;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
    color: #444444;
    font-weight: bold;
    padding: 4px 10px;
}
.addecur:hover{
	background-position: 0 -1175px;
}
.addecur:active{
	background-position: 0 -1240px;
}

.d_fds .files1{ margin-right: 44px;}
.d_fds .files2{ margin-right: 46px;}

.jecur_det .jecur_sec{ 
	background: #E5E6EC;
	border:1px solid #ccc; 
	padding:15px 25px;
	margin: 10px 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.d_fds.amount_calc div.amount_det:hover,
.jecur_det .jecur_sec:hover{
	box-shadow:1px 1px 18px #b6b6b6; 
}
.jecur_det .jecur_sec{
	position: relative;
	margin-bottom: 20px;
}
.jecur_det .jecur_sec .remecur{
	position: absolute;
	top: 10px;
	right: 10px;
	padding-left: 21px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: 0 none;
	border: 1px solid transparent;
	background: url("../../images/sprite.png") no-repeat 5px -1011px;
}
.jecur_det .jecur_sec .remecur:hover{
	border: 1px solid #C4C4C4;
	background: url("../../images/sprite.png") no-repeat 6px -1045px #ffffff;
}
